In [1]:
import pandas as pd
import numpy as np

Data 10 Observation and 5 features

In [18]:
data={
    'Name':['James','Harry','Geena','Mark','Adam','Amy','Irish','Tom','Peeka','Rosa'],
    'Age':[20,24,28,25,20,34,36,23,45,25],
    'Gender':['M','M','F','M','M',np.nan,'M','M','M','F'],
    'Income':[200,1000,4000,20000,10000,54500,20050,1020,10000,40000],
    'Number':['78','24','56','67','87','34',np.nan,'65','70','55']
}
df=pd.DataFrame(data)
print(df)

    Name  Age Gender  Income Number
0  James   20      M     200     78
1  Harry   24      M    1000     24
2  Geena   28      F    4000     56
3   Mark   25      M   20000     67
4   Adam   20      M   10000     87
5    Amy   34    NaN   54500     34
6  Irish   36      M   20050    NaN
7    Tom   23      M    1020     65
8  Peeka   45      M   10000     70
9   Rosa   25      F   40000     55

Info of Df

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Gender  9 non-null      object
 3   Income  10 non-null     int64
 4   Number  9 non-null      object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

Descriptive Statistic of df

In [20]:
print(df.describe())

         Age        Income
count  10.00     10.000000
mean   28.00  16077.000000
std     8.00  18274.553073
min    20.00    200.000000
25%    23.25   1765.000000
50%    25.00  10000.000000
75%    32.50  20037.500000
max    45.00  54500.000000

Loc of 4th Index of Observation

In [21]:
print(df.loc[3])

Name       Mark
Age          25
Gender        M
Income    20000
Number       67
Name: 3, dtype: object

Checking Null values of df

In [22]:
print(df.isnull().sum())
print(df.isnull().any())

Name      0
Age       0
Gender    1
Income    0
Number    1
dtype: int64
Name      False
Age       False
Gender     True
Income    False
Number     True
dtype: bool